@import "./z-index";

.level {
  display: flex;
  background: url("../../assets/game.jpg");
  width: 650px;
  height: 650px;
}

.cell {
  width: 50px;
  height: 50px;
}

.outer-wall {
  background: url("../../assets/outer-wall.jpg");
}

.hard-wall {
  background: url("../../assets/hard-wall.jpg");
}

.soft-wall {
  background: url("../../assets/soft-wall.png");
}

.bomb {
  position: absolute;
  background: url("../../assets/bomb.png");
  height: 50px;
  width: 50px;
  z-index: $zindex-bomb;
}
